doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=0.8, maximum-scale=1')
  title Vanres Academy
  link(rel='stylesheet' href='static/css/bootstrap.css')
  link(rel='stylesheet' href='static/css/vanres_academy.css')
#nav
  .col-sm.nav-align
    h1#title Vanres Academy
  .col-sm.nav-align
    a(href=Pages[0])
      span.button Home
    a(href=Pages[1])
      span.button Courses
    a(href=Pages[2])
      span.button Contact
.container
  .col-sm-6
    img(src='static/images/product.jpg' alt='')
  .col-sm-6
    h1.title Learn to cook cutting edge food
    h3 Our Courses:
    ul
      li Bread Making
      li Pasta Milan
      li Dark Chocolate Delight
    a(href=Pages[2]) Contact Us
    |  today!
